lib/blueprints/rbac-blueprint/state-machines/view-role-memberships.json
{
  "name": "View Role Memberships",
  "Comment": "View mappings between Tymly Role Memberships and Members",
  "Version": "1.0",
  "version": "1.0",
  "categories": [
    "system"
  ],
  "instigators": [
    "user"
  ],
  "instigatorGroup": "app",
  "StartAt": "GetData",
  "States": {
    "GetData": {
      "Type": "Task",
      "Resource": "module:finding",
      "ResourceConfig": {
        "modelId": "tymly_roleMembership"
      },
      "ResultPath": "$.roleMemberships",
      "Next": "ApplyExtraData"
    },
    "ApplyExtraData": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "roleMembershipsApplyExtraData"
      },
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "tymly_viewRoleMemberships",
        "dataPath": "$"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_rbacAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
